In [ ]:
L=[1,2,3,4,5,6,7,8,9,10]           # Traversing the list elements.
for l1 in L:                       # Using for loop in a list
  if l1%2==0:
    print(l1)
for l1 in L:
  l1=l1*2
  print(l1)
A=L*2
print(A)
i=0
while i<len(L):                   # using while loop in a list
  print(L[i])
  i+=1

2
4
6
8
10
2
4
6
8
10
12
14
16
18
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [ ]:
List=[1,2,3,4,5,6,7,8]            # Using index function to find the index of particular element in the list
print(List.index(8))
print(List.index(6))
print(List.index(7))

7
5
6

In [ ]:
L2=[1,2,1,2,1,2,1,2,1,2,2,7,3,4,4,5,6,4,3,4,7,5,7,5,5,5,5,4,5,3]
print(L2.count(2))
print(L2.count(3))             # using count function to count a repetation of particular element in a list
print(L2.count(4))
print(L2.count(5))

6
3
5
7

In [ ]:
print(sum(L2))               # Using sum function to find the sum of all the elements present in the list

108

In [ ]:
L.extend(List)              # Using entend function to extend the elemts from one list to another list
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
print(List)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
List.reverse()                  # Using reverse function to change the order of the list elements
print(List)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
List.sort()                    # Using the sort function to sort the elements of the list 
print(List)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
List.sort(reverse=True)        # Using sort function to sort the list in reverse order
print(List)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
A = ["apple","banana","dog","cat","elephant","monkey","band"]
A.sort(reverse=True)
print(A)

['monkey', 'elephant', 'dog', 'cat', 'band', 'banana', 'apple']

In [18]:
B1=[1,2,3,4]                # Aliasing of List objects 
B2=B1
print(B1)
print(B2)
B2[2]=300
print(B1)
print(B2)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 300, 4]
[1, 2, 300, 4]

In [20]:
C1=[11,22,33,44]             # using copy function in Aliasing
C2=C1.copy()
print(C1)
print(C2)
C2[2]=330
print(C1)
print(C2)

[11, 22, 33, 44]
[11, 22, 33, 44]
[11, 22, 33, 44]
[11, 22, 330, 44]

In [22]:
D1=[110,220,330,440]               # using slice operator in aliasing
D2=D1[:]
print(D1)
print(D2)
D2[1]=22
D2[2]=33
print(D1)
print(D2)

[110, 220, 330, 440]
[110, 220, 330, 440]
[110, 220, 330, 440]
[110, 22, 33, 440]

In [23]:
D1+D2                       # concatinating 2 lists

[110, 220, 330, 440, 110, 22, 33, 440]

In [24]:
D1*2                         # repetation of lists

[110, 220, 330, 440, 110, 220, 330, 440]

In [26]:
D1<D2

False

In [33]:
E1=[1,2,3,3]                   # Using relational operators in list
E2=[1,2,3,4]
print(E1>E2)
print(E1<E2)
print(E1==E2)
print(4 in E1)
print(3 in E2)

False
True
False
False
True